* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #111;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    color: lightskyblue;
}

a:hover {
    color: #74B9FF ;
}

.header {
    color: #FCDE70;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.subheading {
    color: #EB8317;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.intro {
    font-weight: bold;
}

.subheading + * {
    font-size: 1.5rem;
}

ul ul li {
    margin-left: 2rem;
}

::selection {
    background-color: #575656;
}

/* @media (max-width: 600px) {
    .header {
        font-size: 2rem;
    }

    .subheading {
        font-size: 1.5rem;
    }

    .subheading + * {
        font-size: 1rem;
    }
} */