* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-heading {
    font-size: 3rem;
}

.container {
    font-size: 1.2rem;
}

.nav-bar > li {
    list-style-type: circle;
}

.center {
    text-align: center;
    margin-top: 4rem;
}

.square-list {
    list-style-type: square;
}

::selection {
    background-color: #333;
    color: #fff;
}

::-moz-selection {
    background-color: #333;
    color: #fff;
}